<h3>A popular mobile phone brand, Lenovo has launched their budget smartphone in the Indian market. The client wants to understand the VOC (voice of the customer) on the product. This will be useful to not just evaluate the current product, but to also get some direction for developing the product pipeline. The client is particularly interested in the different aspects that customers care about. Product reviews by customers on a leading e-commerce site should provide a good view.</h3>

In [1]:
#import the library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<h4><li>Readiing in the K8 Reviews v0.2.csv file using Pandas. Then viewing the top few records.</li></h4>

In [2]:
# read the dataset
data=pd.read_csv('K8 Reviews v0.2.csv')

In [3]:
data.head()

   sentiment                                             review
0          1             Good but need updates and improvements
1          0  Worst mobile i have bought ever, Battery is dr...
2          1  when I will get my 10% cash back.... its alrea...
3          1                                               Good
4          0  The worst phone everThey have changed the last...

  <h4>
   <li> Normalize casings for the review text and extract the text into a list for easier manipulation.</li>
   <li> Tokenize the reviews using NLTKs word_tokenize function.</li>
   <li> Perform parts-of-speech tagging on each sentence using the NLTK POS tagger.</li>
   <li> For the topic model, we should  want to include only nouns.</li>
   <li> Lemmatize</li>
   <li> Remove stopwords and punctuation</li>
  </h4>

In [4]:
#create prepocessing the text - normalize, stopwords,lemmatilization..
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import nltk
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('stopwords')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Tajudeen\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Tajudeen\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
wordnet_lemm=WordNetLemmatizer()
tokenizer=RegexpTokenizer(r'[a-z]+')
stop_words=set(stopwords.words('english'))

In [10]:
def preprocess(document):
    document=document.lower()
    words=tokenizer.tokenize(document)
    words=[w for w in words if w not in stop_words]
    #lemmatization
    for pos in [wordnet.NOUN]:
        words=[wordnet_lemm.lemmatize(x,pos) for x in words]
    return " ".join(words)

In [11]:
data['Processed_review']=data['review'].apply(preprocess)

In [12]:
#Quick view of the data
data.head()

,sentiment,review,Processed_review
0,1,Good but need updates and improvements,good need update improvement
1,0,"Worst mobile i have bought ever, Battery is dr...",worst mobile bought ever battery draining like...
2,1,when I will get my 10% cash back.... its alrea...,get cash back already january
3,1,Good,good
4,0,The worst phone everThey have changed the last...,worst phone everthey changed last phone proble...

In [14]:
prepd_data=data[['sentiment','Processed_review']]

In [15]:
prepd_data.head()

   sentiment                                   Processed_review
0          1                       good need update improvement
1          0  worst mobile bought ever battery draining like...
2          1                      get cash back already january
3          1                                               good
4          0  worst phone everthey changed last phone proble...

<h4><li>Create a topic model using LDA on the cleaned-up data with 12 topics.</li></h4>